/***
 *    Minimal Waybar Theme
 */

@import url("../../.cache/wal/colors-waybar.css");

* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 12px;
    border-radius: 0px;
    border: none;
    min-height: 0px;
}

window#waybar {
    background: rgba(17, 17, 17, 0.5);
}

#workspaces {
    background: transparent;
    margin: 4px;
    padding: 0px;
}

#workspaces button {
    padding: 0px 8px;
    margin: 0px 2px;
    color: @color7;
    background: transparent;
    border-bottom: 2px solid @color8;
    transition: all 0.2s ease;
}

#workspaces button.active {
    color: @color4;
    border-bottom: 2px solid @color4;
}

#workspaces button.urgent {
    color: @color1;
    border-bottom: 2px solid @color1;
}

#workspaces button:hover {
    color: @color4;
    background: rgba(255, 255, 255, 0.05);
}

tooltip {
    background: @color0;
    border: 1px solid @color8;
    border-radius: 4px;
}

tooltip label {
    color: @color7;
}

#window,
#pulseaudio,
#cpu,
#memory,
#custom-pacman,
#network,
#battery,
#custom-notification,
#tray,
#custom-exit,
#bluetooth {
    margin: 4px 2px;
    padding: 0px 12px;
    background: transparent;
    color: @color7;
    border-left: 2px solid @color8;
}

#custom-startmenu {
    color: @color7;
    background: transparent;
    margin: 4px 2px;
    padding: 0px 12px;
    border-left: 2px solid @color4;
}

#clock {
    color: @color7;
    background: transparent;
    margin: 4px 2px;
    padding: 0px 12px;
    border-right: 2px solid @color4;
}

#bluetooth {
    color: @color7;
}
